version: '3'

services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:80
    volumes:
      - ./web:/opt/app
    ports:
      - "80:80"
